@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 252 59% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 252 59% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 252 59% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 252 59% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glitch-effect {
  position: relative;
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitch-effect:before,
.glitch-effect:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch-effect:before {
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch-effect:after {
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(29px, 9999px, 83px, 0);
  }
  15% {
    clip: rect(75px, 9999px, 80px, 0);
  }
  20% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  25% {
    clip: rect(89px, 9999px, 10px, 0);
  }
  30% {
    clip: rect(33px, 9999px, 11px, 0);
  }
  35% {
    clip: rect(8px, 9999px, 51px, 0);
  }
  40% {
    clip: rect(84px, 9999px, 27px, 0);
  }
  45% {
    clip: rect(22px, 9999px, 40px, 0);
  }
  50% {
    clip: rect(60px, 9999px, 18px, 0);
  }
  55% {
    clip: rect(1px, 9999px, 88px, 0);
  }
  60% {
    clip: rect(88px, 9999px, 53px, 0);
  }
  65% {
    clip: rect(26px, 9999px, 52px, 0);
  }
  70% {
    clip: rect(44px, 9999px, 33px, 0);
  }
  75% {
    clip: rect(66px, 9999px, 94px, 0);
  }
  80% {
    clip: rect(44px, 9999px, 23px, 0);
  }
  85% {
    clip: rect(31px, 9999px, 23px, 0);
  }
  90% {
    clip: rect(5px, 9999px, 29px, 0);
  }
  95% {
    clip: rect(1px, 9999px, 52px, 0);
  }
  100% {
    clip: rect(45px, 9999px, 64px, 0);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(65px, 9999px, 119px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 115px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 32px, 0);
  }
  15% {
    clip: rect(54px, 9999px, 25px, 0);
  }
  20% {
    clip: rect(91px, 9999px, 84px, 0);
  }
  25% {
    clip: rect(29px, 9999px, 95px, 0);
  }
  30% {
    clip: rect(86px, 9999px, 49px, 0);
  }
  35% {
    clip: rect(56px, 9999px, 23px, 0);
  }
  40% {
    clip: rect(91px, 9999px, 38px, 0);
  }
  45% {
    clip: rect(56px, 9999px, 4px, 0);
  }
  50% {
    clip: rect(4px, 9999px, 75px, 0);
  }
  55% {
    clip: rect(39px, 9999px, 52px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 32px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 58px, 0);
  }
  70% {
    clip: rect(31px, 9999px, 81px, 0);
  }
  75% {
    clip: rect(86px, 9999px, 94px, 0);
  }
  80% {
    clip: rect(40px, 9999px, 23px, 0);
  }
  85% {
    clip: rect(95px, 9999px, 59px, 0);
  }
  90% {
    clip: rect(56px, 9999px, 86px, 0);
  }
  95% {
    clip: rect(51px, 9999px, 51px, 0);
  }
  100% {
    clip: rect(49px, 9999px, 35px, 0);
  }
}

.shake-button:hover {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid #ff00c1;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff00c1;
  }
}

.spin-button:hover {
  animation: spin 0.5s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

